@require "framework.variables" 
@import "framework.base"
@import "framework.button"
@import "framework.grid"
@import "framework.helpers" 
@import "framework.navbar" 
@import "framework.table"
@import "control.form"
@import "control.checkbox"
@import "control.switch"
@import "control.upload"

.itemWrapper
    border-bottom 2px solid #cecece
    margin-bottom 16px
  
.btn-lang-wrapper
  display flex
  flex 0 1 auto
  justify-content space-between
  button
    margin 0
    padding 0 16px
    border 0
    background-color transparent
    &:first-child
      padding-left 0
    &:last-child
      padding-right 0