$uncheckedColor = #eee
$uncheckedHoverColor = #ccc
$bg-red-unchecked-color = #ae2012
$bg-blue-unchecked-color = #3a86ff
$bg-green-unchecked-color = #38b000
$bg-purple-unchecked-color = #5a189a
$bg-black-unchecked-color = #000

/* The container */
.checkbox-wrapper
  display inline
  position relative
  padding-left 28px
  margin-right 0
  cursor pointer
  user-select none
  &.disabled
    cursor default
    opacity .5
  /* Hide the browser's default checkbox */
  input
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0


.checkmark
  /* Create a custom checkbox */
  position absolute
  top 0
  left 0
  height 20px
  width 20px
  background-color $uncheckedColor
  &.bg-red
    background-color $bg-red-unchecked-color
  &.bg-blue
    background-color $bg-blue-unchecked-color
  &.bg-green
    background-color $bg-green-unchecked-color
  &.bg-purple
    background-color $bg-purple-unchecked-color
  &.bg-black
    background-color $bg-black-unchecked-color

  /* Create the checkmark/indicator (hidden when not checked) */
  &:after
    content: "";
    position: absolute;
    display: none;

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after
  display: block;

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after
  left 7px
  top 3px
  width 3px
  height 8px
  border solid white
  border-width 0 3px 3px 0
  transform rotate(45deg)

