/* ------------------- */
/* ------ NAV ------ */
/* ------------------- */
nav
  &.navbar-top
    display flex
    height 48px
    .ul-menu
      flex 1
    .btn
      height 100%
      line-height 32px
    button
      height 100%