/* ------------------- */
/* ----- helpers ----- */
/* ------------------- */
  
.hidden
.d-none
  display none
  display none!important

.text-right
  text-align right

.text-center
  text-align center

.d-block
  display block!important

.d-flex
  display flex!important

.d-inline
  display inline!important
  
.style-type-none
  list-style-type none
  
.float-right
  float right


body
  &.framework-no-scroll
    margin 0
    height 100%
    overflow hidden

@media only screen and (min-width: 1024px)
  .desktop-w-80
    width 80%
    margin 0 auto