input
  &[type="text"]
  &[type="number"]
  &[type="email"]
  &[type="url"]
    padding 8px
    border-radius 4px
    border 1px solid #ccc
    width 100%
    display block
    font-size 1rem
    margin 0
    outline none
    -webkit-appearance none

  &:focus
    border-color #2773d9
  &[disabled="disabled"]
    border 0
    padding 0
  &[readonly]
    background-color #cccccc66


label 
  &.has-error
    input
      &:invalid
        border 1px solid #dc3545
    
    p
      &.error-message
        display block
      
      &.hint
        display none
    
    .input-group
        &.space-between
            display flex
            justify-content space-between

label
    display block

  &[for]
    display inline-block
    margin-left 16px
    vertical-align middle
  
  &.required
    &:before
      content '*'
      margin-right 4px
      color #dc3545

.input-group
    margin-bottom 16px

.textarea
  white-space: break-spaces;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width 100%
  outline none

.hint
.block-hint
.error-message
    margin 0
    font-size 12px
    line-height 16px
    font-style italic
    color #666
    display block
    
.block-hint
  margin-bottom 16px
    
.error-message
  color #dc3545
  display none